=render "layout" do
  %div(data-role="header")
    Welcome to Hello World
  %div(data-role="content")
    Some Demo pages
    %a(href="ui_demo.html" data-role="button")
      UI Demo
    %a(href="compass.html" data-role="button")
      Compass Demo
    %a(href="contacts.html" data-role="button")
      Contacts Demo
  %div(data-role="footer")
    He who does not have a footer is a poor man
