=render "layout" do
  %div(data-role="header" data-position="inline")
    %a(href="index.html" data-icon="back" data-rel="back")
      Back
    %h1
      Some UI Tests
  %div(data-role="content")
    Installing XCode is a long and winding road
  %div(data-role="footer")
    But i dont want a footer
